<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf = "dish" [@visibility]="visibility" [@expand]>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{ dish.name | uppercase }}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseUrl + dish.image}}" alt={{dish.name}}>
            <mat-card-content>
                <p>{{ dish.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <p>{{ prev | json }} {{ next | json }}</p>
                <button mat-button [routerLink]="['/dishdetails', prev]">
                    PREV</button> 
                <button mat-button (click)="goBack()"> BACK </button>
                <button mat-button > LIKE </button>
                <button mat-button > SHARE </button>
                <button mat-button [routerLink]="['/dishdetails', next]">
                    <span class="fa fa-chevron-right fa-lg"></span></button>  
            </mat-card-actions>
        </mat-card>
    </div>

    <div [hidden] = "dish || errMess">
        <mat-spinner></mat-spinner><h4>Loading.....Please Wait</h4>
      </div>

    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{ errMess }}</h4>
    </div>

  <div fxFlex="40" class="container" *ngIf = "dish" [@visibility]="visibility" [@expand]
  fxLayout="column"
  fxLayoutGap="10px" 
  fxLayout.sm="column"
  fxLayout.xs="column"
  >
    
    <mat-list>
        <h3>Comments</h3>
        <mat-list-item *ngFor = "let comment of dish.comments">
            <p matLine >{{ comment.comment }}</p>
            <p matLine >{{ comment.rating }} Stars</p>
            <p matLine >-- {{ comment.author }}  {{ comment.date | date }}</p>
        </mat-list-item>
    </mat-list>>
    <div fxFlex fxFlexOffset="20px" class="form-size">
            
    
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        
          <div [hidden]="fform.form.invalid">
            <p matLine >{{ feedbackForm.value.comment }}</p>
            <p matLine >{{ feedbackForm.value.rating }} Stars</p>
            <p matLine >-- {{ feedbackForm.value.author }}</p>
          </div>
          
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
            </mat-form-field>
          </p>
          <table class="form-size">
            <td>
                <mat-slider formControlName="rating" min="0" max="5" step="1" value="5" thumbLabel tickInterval="1"></mat-slider>
            </td>
          </table>
          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="comment" placeholder="Your Feedback" rows=8 required></textarea>
              <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit" [disabled]="fform.form.invalid" mat-button class="background-primary text-floral-white">Submit</button>
        </form>
      </div>
  </div>

</div>